body {
  height: 100vh;
}

h1 {
  margin: 0;
}

.app-container {
  height: 100%;
}

.app {
  height: 100%;
}

.column {
  height: 100%;
}

.col-groups {
  height: 100vh;
  padding: 5px;
  background-color: #f7f7f7;
  border-right: 1px solid #e8e8e8;
}

.col-contacts {
  height: 100vh;
  padding: 5px;
  background-color: #fcfcfc;
  border-right: 1px solid #e8e8e8;
}

.col-contact {
  height: 100vh;
  background-color: #fff;
}

.select-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select-list li {
  cursor: pointer;
}

.select-list li.selected {
  color: #1772eb;
  font-weight: bold;
}
